<h3>Welcome to Travel Buddy</h3>
<p>Travel buddy allows you to create a travel itinerary based on your interests, budget and location, so you don't have to worry about the small details.</p>

<br />

<span>Ready to travel? Plan your trip here</span> <br />
<a href="/travel" class="btn btn-primary" style="border= ">Travel</a>
