<div class="backgroundimg">
  <div class="homeBody">
    <center> <div class='center'>
      <!-- <h2 style="font-size: 100px">Wayfare</h2> -->
      <img src="https://raw.githubusercontent.com/sahirjamal/Personal-Website/master/wayfare-transparent_wayfare-artboard.png" style="height: 15em; margin-top:10px;">
      <h2>Pack your bags - let us pave the way.</h2>
    </div>
    <h2>We'll worry about the details.</h2><br>
    <a href="/search" class="btn btn-primary" style="border-radius: 5px; padding: 1px; width:170px; height:70px;"><h3>Travel Now</h3></a>
    <br />
    </center>
  </div>
</div>
