<link rel="stylesheet" href="/stylesheet/home.css">

<div class="header" style="align-self: flex-end">
  <h3>Welcome to Travel Buddy</h3>
</div>

<p>Travel buddy allows you to create a travel itinerary based on your interests, budget and location, so you don't have to worry about the small details.</p>

<br />

<span>Ready to travel? Start your trip here</span> <br />
<a href="/travel" class="btn btn-primary" style="margin-bottom: 50px">Travel</a>

<br />

<span>Want to create an account? Sign up here</span> <br />
<a href="/signup" class="btn btn-primary" style="margin-bottom: 50px">Sign Up</a>

<br />

<span>Already traveled with us? View your profile here</span> <br />
<a href="/login" class="btn btn-primary" style="margin-bottom: 50px">Log In</a>
