<h3>Welcome to Travel Buddy</h3>
<p>Travel buddy allows you to create a travel itinerary based on your interests, budget and location, so you don't have to worry about the small details.</p>

<br />

<span>Ready to travel? Start your trip here</span> <br />
<a href="/signup" class="btn btn-primary" style="border= ">Travel</a>

<br />

<span>Already traveled with us? View your profile here</span> <br />
<a href="/login" class="btn btn-primary" style="border= ">Log In</a>
