<h2> What do you Like to Do? </h2>
<form method="POST">
    <!-- YOUR CODE HERE -->
    <p style="margin-top: 20px"<b>Food</b></p>
    <input type="radio" name="food" value="indian"/><label>Indian</label>
    <input type="radio" name="food" value="mexican"/><label>Mexican</label>
    <input type="radio" name="food" value="italian"/><label>Italian</label>
    <input type="radio" name="food" value="chinese"/><label>Chinese</label> 
    <p style="margin-top: 20px"<b>Drinks</b></p>
    <input type="radio" name="drinks" value="coffee/tea"/><label>Coffee and Tea</label>
    <input type="radio" name="drinks" value="juice/smoothies"/><label>Juice and Smoothies</label>
    <input type="radio" name="drinks" value="beer/wine"/><label>Beer and Wine</label>
    <input type="radio" name="drinks" value="cocktails"/><label>Cocktails</label> 
    <p style="margin-top: 20px"<b>Attractions</b></p>
    <input type="radio" name="attractions" value="landmarks"/><label>Landmarks</label>
    <input type="radio" name="attractions" value="parks"/><label>Parks</label>
    <input type="radio" name="attractions" value="historicalSites"/><label>Historical Sites</label>
    <input type="radio" name="attractions" value="carnival"/><label>Carnival</label> 
    <p style="margin-top: 20px"<b>Fine Arts</b></p>
    <input type="radio" name="arts" value="museums"/><label>Museums</label>
    <input type="radio" name="arts" value="theater"/><label>Theater</label>
    <input type="radio" name="arts" value="movies"/><label>Movies</label>
    <input type="radio" name="arts" value="music concerts"/><label>Music Concerts</label> 
    <p style="margin-top: 20px"<b>Nightlife</b></p>
    <input type="radio" name="nightlife" value="bars"/><label>Bars</label>
    <input type="radio" name="nightlife" value="nightclubs"/><label>Nightclubs</label>
    <input type="radio" name="nightlife" value="pubs"/><label>Pubs</label>
    <input type="radio" name="nightlife" value="rooftops"/><label>Rooftops</label> 
    <p style="margin-top: 20px"<b>Outdoors</b></p>
    <input type="radio" name="outdoors" value="hiking"/><label>Hiking</label>
    <input type="radio" name="outdoors" value="mountain-climbing"/><label>Mountain Climbing</label>
    <input type="radio" name="outdoors" value="water-sports"/><label>Water Sports</label>
    <input type="radio" name="outdoors" value="skiing"/><label>Skiing</label> 
    <input type="submit" value="Submit" />
</form>
