What do you Like to Do?
<form method="POST">
    <!-- YOUR CODE HERE -->
    <input type="checkbox" class="foodChoice" name="cuisine1"/><label>Indian</label>
    <input type="checkbox" class="foodChoice" name="cuisine2"/><label>Mexican</label>
    <input type="checkbox" class="foodChoice" name="cuisine3"/><label>Italian</label>
    <input type="checkbox" class="foodChoice" name="cuisine4"/><label>Chinese</label>                  
    <input type="submit" value="Submit" />
</form>
